*{
    font-family: Arial, Helvetica, sans-serif;
 }
 body{
    background-color: #eaeaea;
 }
 .nav-sidebar{
    /* height: 60px; */
    background-color: #eaeaea; ;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    color: black;
    overflow-x: hidden;
 }
 .nav-sidebar h2{
    cursor: pointer;
 }
 .hanai-img{
    display: flex;
    /* justify-content: center; */
    /* align-items: right; */
 }
 /* .logo{
    display: flex;
    align-items: center;
    gap: 150px;
    cursor: pointer;
 
 }
 .logo svg{
    font-size: 25px;
    color: black;
 } */
 .container-navbar{
  position: fixed;
  width: 100%;
  top: 0;
 }
 
 .nav-sidebar ul{
    list-style-type: none;
    /* display: flex; */
    align-items: center;
    gap: 20px;
 }
 .nav-sidebar ul li{
    cursor: pointer;
    width: 100px;
    border-radius: 7px;
 }
 .nav-sidebar ul li:hover{
 background-color: red;
 color: white;
 text-align: center;
 }
 .nav-sidebar ul li svg{
 font-size: 20px;
 }
 
 
 /* sidebar */
 .sidebar-content{
    height: 100vh;
    background-color:white;
    width: 200px;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    top: 60px;
 }
 .sidebar-content::-webkit-scrollbar{
    display: none;
 }
 .sidebar-container  {
    background-color: white;
    color: black;
    width: 200px;
    height: calc(100vh-60vh);
    text-decoration-style: none;
    margin-top: 20px;
 }
 
 .nav-option{
    display: flex;
    /* align-items: center; */
    padding: 10px 15px;
    gap: 5px;
    width: 180px;
    border-radius: 7px;
    color: black;
    margin: 15px 10px;
  
 }
 
 .nav-option:hover {
    background-color:red; 
    color: white; 

  }
  
  .nav-option:hover svg {
    color: White; 
  }
  
 .nav-option svg{
    color: red;
    font-size: 20px;
 }
 .no-underline{
    text-decoration: none;
 }
 .no-underline:hover {
    text-decoration: none;
  }
 
  /* dropdown  */
 .drop-down{
    /* width: 15%; */
    float: right;
    list-style-type: none;
    margin-right: 5px;
    border-radius: 7px;
 }
 .drop-down ul{
    list-style-type: none;
    cursor: pointer;
    text-align: center;
    padding: 0 10px;
    margin-top: 12px;
 }
 .drop-down ul li:hover{
    background-color: red;
    color: white;
 }
 
 .relative svg{
    font-size: 190%;
    margin-top: 15px;
    cursor: pointer;
    color: red;
 }
 .dropalign_nav{
    padding: 0 10px;
 }
 .h5-sidebar{
   margin-bottom: 0;
 }
 
 /* when i open any page then this page name in sidebar remains hover in red color  */
 .nav-option.active {
    background-color: red;
    color: white;
    margin: 10px;
  }
  .nav-option.active h5, 
 .nav-option.active svg {
   color: white;
 }
 
 .nav-option h5 {
   margin-left: 10px;
 }
 
 .no-underline {
   text-decoration: none;
 }
  
 
 /* button property  */
 .btn-LogoutProfile{
    background-color: red;
    border: none;
 }
 .btn-LogoutProfile:hover{
    background-color: rgb(199, 11, 11);
 }
 /* media query */
 @media screen and (max-width: 768px) {
    .sidebar-content{
       width: 50px;
       overflow-x: hidden;
    }
   .nav-option{
       padding: 10px;
    }
    .logo{
     gap: 10px;
    }
    .nav-sidebar ul li{
    display: flex;
    justify-content: right;
    gap: 10px;
    }
    .nav-sidebar{
       overflow-x: hidden;
    }
 }
 
 