*{
    font-family: Arial, Helvetica, sans-serif;
 }
.bill-main-container {
    margin-left: 210px;
}
Button svg{
    font-size: 20px;
}
.bill_details{
    margin-top: 113px;
}
/* for text ckass */
.text-class{
  margin: 3px;
}


@media screen and (max-width: 480px) {
    .bill-main-container {
      margin-left: 12%;
      margin-top: 5%;
    }
  
    .action-users {
      display: flex;
      justify-content: center;
    }
    .table-resp{
      width: 88%;
    }
    .text-class{
      font-size: 22px;
      margin-top: 10px;
    }
    
  
  }
  
  @media screen and (min-width:481px) and (max-width: 767px) {
    .bill-main-container {
      margin-left: 50px;
      /* max-width: 100%; */
      width: calc(100%-50px);
      /* overflow-y: scroll; */
    }
    .action-users {
        display: flex;
        justify-content: center;
      }
    
    .table-responsive {
      width: 85%;
  }
  }
  @media screen and (min-width:773px) and (max-width: 1200px) {
    .bill-main-container {
      margin-left: 190px;
      width: 80%;
      /* max-width: 100%; */
      width: calc(100%-50px);
      /* overflow-y: scroll; */
    }
    .action-users {
      display: flex;
      justify-content: center;
    }
    .table-responsive {
      width: 100%;
  }
  
  }
  