*{
    font-family: Arial, Helvetica, sans-serif;
 }
 .user-main-container {
    margin-left: 16%;
}
  /* for states button  */
  .btn-state-active {
    color: white;
    background-color: green;
    padding: 1px 10px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .btn-state-inactive {
    color: white;
    background-color: red;
    padding: 1px 10px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .btn-state-active:hover {
    background-color: rgb(12, 107, 12);
    color: white;
  }
  
  .btn-state-inactive:hover {
    background-color: rgb(199, 11, 11);
    color: white;
  }

  /* add button  */
  .add-btn{
    background-color: red;
    border: none;
  }
  .add-btn:hover{
    background-color: rgb(199, 11, 11);
  }
  /* .action-users{
  } */
  .all-buttons{
    background-color: red;
    border: none;
  }
  .all-buttons:hover{
    background-color: rgb(199, 11, 11);
  }

  /* for text ckass */
.text-class{
  margin: 3px;
}

/* for add button  */
.btn-class{
  margin: 5px;
}
  
  @media screen and (max-width: 480px) {
    .user-main-container {
      margin-left: 11%;
      margin-top: 5%;
    }
  
    .action-users {
      display: flex;
      justify-content: center;
    }
    .table-resp{
      width: 88%;
    }
    .text-class{
      font-size: 22px;
      margin-top: 10px;
    }
    .add-btn{
      margin-top: 10px;
      margin-right: 32px;
    }
  
  }

  /* modal css  */
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-group strong {
    min-width: 100px; /* Adjust based on desired label width */
  }
  
  .form-group span {
    flex: 1;
    text-align: left;
  }
  
  
  .top-margin-heading{
    margin-top: 7%;
  }
  .table-resp{
    margin-top: 20px;
  }
  .table-resp td{
    padding: 10px 6px;
  }
    @media screen and (max-width: 480px) {
      .container-Users {
        margin-left: 9%;
        margin-top: 5%;
      }
      .top-margin-heading{
        margin-top: 20%;
      }
    
      .action-users {
        display: flex;
      }
      .table-resp{
        width: 88%;
      }
      .text-class{
        font-size: 22px;
        /* margin-top: 10px; */
        margin: 10px;
      }
      .add-btn{
        margin-top: 10px;
        margin-right: 32px;
      }
    
    }
    
    @media screen and (min-width:481px) and (max-width: 768px) {
      .container-Users {
        margin-left: 50px;
        /* max-width: 100%; */
        width: calc(100%-50px);
        /* overflow-y: scroll; */
      }
      .top-margin-heading{
        margin-top: 11%;
      }
       
      .action-users {
        display: flex;
      }
      
    }
  
    @media screen and (min-width:773px) and (max-width: 1200px) {
      .container-Users{
        margin-left: 190px;
        width: 80%;
        /* max-width: 100%; */
        width: calc(100%-50px);
        /* overflow-y: scroll; */
      }
      .top-margin-heading{
        margin-top: 12%;
      }
      .action-users {
        display: flex;
      }
      .table-responsive {
        width: 100%;
    }
    
    }
    
  